/* .text-color {
    color: red;
} */


.bg-color {
    background-color: gray;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.product-box {
    gap: 32px;
    flex-wrap: wrap;
}