* {
      margin: 0;
      padding: 0;
}

a {
      text-decoration: none;
}

.header {
      padding-top: 40px;
      padding-bottom: 40px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch;


}

.header_logo {
      padding-left: 75px;
      padding-right: 500px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
}

.header_logo_text {
      margin-top: 5px;
      margin-bottom: 5px;
}

.header_link {
      width: 533px;
      margin-top: 11px;
      margin-bottom: 12px;
      font-family: 'Gilroy-Medium', sans-serif;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
}

.home_link {
      color: #F25822;
}

.links {
      color: black;
}

.top_content {
      margin-top: 44px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 40px;
}

.top_info {}

.top_info_title {
      width: 522px;
      margin-bottom: 17px;
      color: #000;
      font-family: Gilroy-Bold;
      font-size: 60px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
}

.top_paragraph_1 {
      width: 466px;
      color: #888;
      font-family: Gilroy-Medium;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

}

.top_buttons {
      padding-top: 37px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      gap: 75px;

}

.button_1 {
      border-radius: 50px;
      background: #F25822;
      box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
      color: #FFF;
      font-family: Gilroy-Bold;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      width: 140px;
      height: 50px;
      flex-shrink: 0;
}

.button_link {
      color: #AAA;
      font-family: Gilroy-Bold;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
}

.top_logo {
      margin-top: 259px;
      margin-bottom: 96px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 48px;

}

.midle_content {}

.competence_section {
      background-color: #FFF;
      display: grid;
      align-content: center;
      justify-content: center;
      grid-template-columns: 370px 370px 370px;
      gap: 60px;
}

.competes_items {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-start;
      margin-left: 30px;
      margin-right: 30px;
      margin-bottom: 100px;
      margin-top: 100px;
}

.competes_items.shadow {
      box-shadow: 15px 25px 56px 6px #0000000F;

}

.comp_img {
      border-radius: 15px;
      margin-top: 40px;
      margin-bottom: 25px;
}

.midle_title_h3 {
      font-family: Gilroy-Bold;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 20px;
}

.comp_text {
      font-family: Gilroy-Regular;
      font-size: 15px;
      line-height: 23px;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 25px;

}

.comp_link {
      font-family: Gilroy-Bold;
      font-size: 11px;
      line-height: 17px;
      letter-spacing: 0em;
      text-align: left;
      color: #000;
      margin-bottom: 25px;
}

.presentation_section {
      background-color: #FAFAFA;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
}

.pres_main_title {
      font-family: Gilroy-Bold;
      font-size: 45px;
      line-height: 53px;
      letter-spacing: 0em;
      text-align: left;
      margin-top: 125px;
      margin-bottom: 19px;

}

.pres_main_text {
      width: 682px;
      font-family: Gilroy-Regular;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: center;
      margin-bottom: 50px;
}

.pres_sect_grid {

      display: grid;
      grid-template-columns: 370px 370px 370px;
      gap: 30px;
}

.pres_items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      background-color: #FFF;
      margin-bottom: 100px;
}

.pres_items.shadow {
      box-shadow: 15px 25px 60px -5px #0000001A;

}

.pres_img {
      height: 300px;
      width: 375px;
}

.pres_text {
      font-family: Gilroy-Regular;
      font-size: 15px;
      line-height: 23px;
      letter-spacing: 0em;
      text-align: center;
      margin-bottom: 39px;
      margin-left: 30px;
      margin-right: 30px;

}

.pres_button {
      width: 150px;
      height: 50px;
      border-radius: 50px;
      background-color: #F25822;
      display: flex;
      align-content: center;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 50px;

}

.pres_link {
      font-family: Gilroy-Bold;
      font-size: 13px;
      line-height: 20px;
      letter-spacing: 0em;
      color: #FFFFFF;
}