a {
      text-decoration: none;
}

body {
      font-family: sans-serif;
}

.referal {
      color: cornflowerblue;
      font-size: 16px;
      line-height: 20px;
}

.main_title {
      color: #222;
      font-size: 28px;
      line-height: 36px;
      font-weight: bold;
}

.paragraph {
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 30px;
      color: #7d7987;
}

.second_title_main {
      color: coral;
      font-style: normal;
      font-weight: 700;
      font-style: 36px;
      line-height: 80px;
}

.pic_about {
      border-radius: 10px;
}

.input_board {
      width: 200px;
      height: 30px;
      outline: none;
      border: 1px solid #ccc;
      border-radius: 15px;
      font-size: 14px;
      line-height: 30px;
}

.buttons {
      width: 100px;
      height: 30px;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 10px;
}